<!-- <nav class="navbar navbar-default">
    <div class="dontainer-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle btn btn-dark" (click)="collapsed = !collapsed">
              <span routerLink="/">NJ</span>
            </button>
        </div>

        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav flex-column">
                <li>
                    <a href="#" class="nav-link active" (click)="selected('frontEnd', $event)">FrontEnd</a>
                </li>
                <li>
                    <a href="#" class="nav-link" (click)="selected('WebPublishing', $event)">Web Publishing</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->


<nav class="nav flex-column">
    <div class="info">
        <span>NJ Namee Jang</span>
    </div>
    <a class="nav-link active" href="#"  (click)="selected('frontEnd', $event)">FrontEnd</a>
    <a class="nav-link" href="#" (click)="selected('publishing', $event)">Web Publishing</a>
    <a class="nav-link" href="#" (click)="selected('learning', $event)">Leaning</a>
</nav>