
<nav class="nav">
    <div class="info card" style="margin:0">
        <div class="card-body">
          <h4 class="card-title">Namoo Jang</h4>
          <h6 class="card-subtitle mb-2 text-muted">Front-End Developer</h6>
          <p class="card-text">HTML, CSS <br/>Angular, Javascript, jQuery <br/> github, firebase</p>
          <hr>
          <a href="https://github.com/NJ90" class="card-link btn btn-outline-dark" target="_blank">github</a>
          <a href="https://www.notion.so/Dev-aa7efb5154144ac9b14dfc2fd9659794" class="card-link btn btn-outline-dark" target="_blank">notion</a>
        </div>
    </div>    
    <ul class="nav-link-wrap">
      <li class="nav-link"><a href="#" (click)="selected('board')"><i class="material-icons md-24">arrow_right</i>Board</a></li>
      <li class="nav-link"><a href="#"  (click)="selected('frontEnd')"><i class="material-icons md-24">arrow_right</i>FrontEnd</a></li>
      <li class="nav-link"><a href="#" (click)="selected('publishing')"><i class="material-icons md-24">arrow_right</i>Web Publishing</a></li>
    </ul>
</nav>