
<nav class="nav" >
    <div class="info card" style="margin:0">
        <div class="card-body">
          <h5 class="card-title">NJ</h5>
          <h6 class="card-subtitle mb-2 text-muted">Front-End Developer</h6>
          <p class="card-text">HTML, CSS, Javascript, jQuery, Angular, github, firebase</p>
          <hr>
          <a href="https://github.com/NJ90" class="card-link btn btn-outline-dark" target="_blank">github</a>
          <a href="https://www.notion.so/Dev-aa7efb5154144ac9b14dfc2fd9659794" class="card-link btn btn-outline-dark" target="_blank">notion</a>
        </div>
    </div>    
    <a class="nav-link active" href="#"  (click)="selected('frontEnd')">FrontEnd</a>
    <a class="nav-link" href="#" (click)="selected('publishing')">Web Publishing</a>
    <a class="nav-link" href="#" (click)="selected('board')">Board</a>
</nav>