nav{
    float: left;
    background-color: #24292E;
    padding-bottom:100%;
    width: 18rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

a,
a:visited,
a:hover {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

a:hover,
a:visited {
font-weight: 900;
}

.info{
       text-align: center;
       margin-bottom: 10px;
}
.info a{color:#999; font-weight: 700;}
.info a:hover{color:#666;}

hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

    /* Responsive Styles */
    @media screen and (max-width: 767px) {
      .nav{flex-direction: row; width: 100%; padding-bottom: 0;}
    }
  
    @media screen and (max-width: 575px) {

    }