<h2 class="title">Front-End Toy Project</h2>

<div class="card-container" >
  <div class="card">
    <a target="_blank" rel="noopener" href="https://todo-project-nj.firebaseapp.com/">
      <i class="material-icons md-48">post_add</i>
      <h4>Todo List</h4>
      <span>
        Angular 8, Angular CLI, firebase
      </span>
    </a>
  </div>

  <div class="card" >
    <a target="_blank" rel="noopener" href="https://nj90.github.io/web_game_with_js/">
      <i class="material-icons md-48">videogame_asset</i>
      <h4>javascript Web Game</h4>
      <span>
        HTML, CSS, Javascript, Bootstrap, github
      </span>
    </a>
  </div>

</div>


<!-- create resource link >>  github -->
<!-- github readme 정리해놓기 -->