<!-- Header -->
<app-header (featureSelected)="onNavigate($event)"></app-header>

<div class="container" role="main">
  <!-- Front-End develop -->
  <div class="row">
    <div class="col-lg-12">
      <app-frontend  *ngIf="loadedFeature === 'frontEnd'"></app-frontend>
    </div>
  </div>
 
  <!-- Web Publishing -->
  <div class="row">
    <div class="col-lg-12">
      <app-publishing  *ngIf="loadedFeature === 'publishing'"></app-publishing>
    </div>
  </div>

  <!-- learning -->
  <div class="row">
    <div class="col-lg-12">
      <app-learning  *ngIf="loadedFeature === 'learning'"></app-learning>
    </div>
  </div>
</div>

  