<div class="board-warp">

    <h1>Test-Board</h1>
    <hr>
    
<div class="mb-3">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
        </div>
        <input type="text" id="input-name" class="form-control"> 
    </div>
    <div class="input-group">        
        <div class="input-group-prepend">
            <span class="input-group-text">E-mail</span>
        </div>
        <input type="text" id="input-name" class="form-control" >
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Content</span>
        </div>
        <textarea type="text" class="form-control" id="input-cont" aria-label="With textarea"></textarea>
    </div>
    <div>
        <button class="btn btn-light">submit</button>
    </div>
 </div>

 <div class="output">

 </div>


</div>