<h2>Web Publishing Portfolio</h2>
  <div class="card-container">
    <div class="card" >
      <a target="_blank" rel="noopener" href="http://www.seungjineng.co.kr/main/">
        <span>승진 엔지니어링</span>
        <img src="./assets/seungjin.png" alt="" width="100%" height="100%">
      </a>
    </div>
    <div class="card" >
      <a target="_blank" rel="noopener" href="http://atscenter.com/new/">
        <span>ATS Center</span>
        <img src="./assets/atscenter.png" alt="" width="100%" height="100%">
      </a>
    </div>
    <div class="card" >
      <a target="_blank" rel="noopener" href="http://nameejang.dothome.co.kr/ResponsiveWeb/index.html">
        <span>IKEA</span>
        <img src="./assets/ikea_main.png" alt="" width="100%" height="100%">
      </a>
    </div>
    <div class="card" >
      <a target="_blank" rel="noopener" href="http://nameejang.dothome.co.kr/MOBILE/index.html">
        <span>patagonia</span>
        <img src="./assets/patagonia_mobile_main.png" alt="" width="100%" height="100%">
      </a>
    </div>
  </div>