/* .card h4{display: block; width: 100%;} */
.card dl, .card dt, .card dd{ display:inline-block;}

.card{display: inline-block; width: calc(100% / 3 - 16px); height: 400px; vertical-align: middle;vertical-align: -webkit-baseline-middle;}
.card img{ display: block; width:30%; height:auto; float: right;}
.btn{border:1px solid #666; font-size: 14px; font-weight: 600; color:#666; display: inline-block; position: absolute; bottom: 20px; left: 20px;}

.btn:hover,
.card:hover .btn{color:#fff; background-color: #666;}

.icon{margin:10px 0; display: flex; align-items: end;}
.icon .material-icons{margin:0 5px;}

.card dt{position: relative;padding-left: 10px;font-weight: 600; margin-top: 5px;}
.card dt::before{content: ''; width: 4px; height: 4px; background:#666; border-radius: 50%; position: absolute; top: 7px; left: 0;}
.card dt.blank::before{display: none;}
.card dt:first-child{margin-top: 0;}
.card dd{padding-left: 10px;}

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: calc(100% - 16px);
    }


  }

  @media screen and (max-width: 575px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: calc(100% - 16px);
    }
  }
