<h2 class="title">Web Publishing Portfolio</h2>
  <div class="card-container">
    <div class="card" >
      <a target="_blank" rel="noopener" href="http://www.seungjineng.co.kr/main/">
        <div class="txt">
          <h4>SEUNG JIN Engineering</h4>
          <dl>
            <dt>Technical Skills: </dt>
            <dd> HTML, CSS, Jquery</dd>
            <br>
            <dt> Viewport: </dt>
            <dd> Responsive</dd>
          </dl>
          <br/>
            <div class="icon">
              <i class="material-icons md-28">laptop_mac</i>  
              <i class="material-icons md-24">tablet_mac</i>  
              <i class="material-icons md-24">phone_iphone</i>  
            </div>
          <br/>
          <button class="btn btn-light">link</button>
        </div>
        <img src="./assets/seungjin.png" alt="" width="100%" height="100%">
      </a>
    </div>


    <div class="card" >
      <a target="_blank" rel="noopener" href="http://atscenter.com/new/">
        <div class="txt">
          <h4>ATS Center</h4>
          <dl>
            <dt>Technical Skills: </dt>
            <dd> HTML, CSS, Jquery</dd>
            <br>
            <dt> Viewport: </dt>
            <dd> PC </dd>
          </dl>
          <br/>
            <div class="icon">
              <i class="material-icons md-28">laptop_mac</i>  
            </div>
          <br/>
          <button class="btn btn-light">Link</button>
        </div>
        <img src="./assets/atscenter.png" alt="" width="100%" height="100%">
      </a>
    </div>

    
    <div class="card" >
      <a target="_blank" rel="noopener" href="http://nameejang.dothome.co.kr/ResponsiveWeb/index.html">
        <div class="txt">
          <h4>IKEA</h4>
          <dl>
            <dt>Technical Skills: </dt>
            <dd> HTML, CSS, Jquery</dd>
            <br>
            <dt> Viewport: </dt>
            <dd> Responsive</dd>
          </dl>
          <br/>
            <div class="icon">
              <i class="material-icons md-28">laptop_mac</i>  
              <i class="material-icons md-24">tablet_mac</i>  
              <i class="material-icons md-24">phone_iphone</i>  
            </div>
          <br/>
          <button class="btn btn-light">Link</button>
        </div>
        <img src="./assets/ikea_main.png" alt="" width="100%" height="100%">
      </a>
    </div>
        
    <div class="card" >
      <a target="_blank" rel="noopener" href="http://nameejang.dothome.co.kr/MOBILE/index.html">
        <div class="txt">
          <h4>Patagonia</h4>
          <dl>
            <dt>Technical Skills: </dt>
            <dd> HTML, CSS, Jquery</dd>
            <br>
            <dt> Viewport: </dt>
            <dd> Mobile</dd>
          </dl>
          <br/>
            <div class="icon">
              <i class="material-icons md-24">phone_iphone</i>  
            </div>
          <br/>
          <button class="btn btn-light">Link</button>
        </div>
        <img src="./assets/patagonia_mobile_main.png" alt="" width="100%" height="100%">
      </a>
    </div>

  </div>